.searchBar{

    .type{
        button{
            padding: 16px 36px;
            border: 1px solid #999;
            text-transform: capitalize;
            cursor: pointer;
            background-color: #fff;

            &:first-child{
                border-top-left-radius: 5px;
                border-right: 0;
            }

            &:last-child{
                border-top-right-radius: 5px;
                border-left: 0;
            }

            &.active{
                background-color: black;
                color: white;
            }
        }        
    }

}