@use '../../responsive.scss';

.homePage {

    display: flex;
    height: 100%;

    .textContainer {
        flex: 3;

        .wrapper {
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
            height: 100%;

            @include responsive.md {
                padding: 0;
            }

            @include responsive.sm {
                justify-content: flex-start;
            }

            .title {
                font-size: 3.6rem;

                @include responsive.lg {
                    font-size: 3.3rem;
                }

                @include responsive.sm {
                    font-size: 2.5rem;
                }
            }

            .boxes {
                display: flex;
                justify-content: space-between;

                @include responsive.sm {
                    display: none;
                }

                .box {
                    h1 {
                        font-size: 2rem;

                        @include responsive.lg {
                            font-size: 1.8rem;
                        }
                    }

                    h2 {
                        font-size: 1.2rem;
                        font-weight: 300;
                    }
                }
            }
        }

    }

    .imgContainer {
        flex: 2;
        background-color: #fcf5f3;
        position: relative;
        display: flex;
        align-items: center;

        @include responsive.md {
            display: none;
        }

        img {
            width: 115%;
            position: absolute;
            right: 0;

            @include responsive.lg {
                width: 108%;
            }

        }
    }

}